#
# ARM CMSIS-DAP compliant adapter
#
# http://www.keil.com/support/man/docs/dapdebug/
#

adapter driver cmsis-dap

# 0.11+ 版本 cmsis-dap 默认后端可能是 bulk/winusb,
# 标准 DAPLink(VID_0D28) 只有 HID/WebUSB 接口, 必须显式锁 HID
cmsis_dap_backend hid

# Optionally specify the serial number of CMSIS-DAP usb device.
# adapter serial 02200201E6661E601B98E3B9
